
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("HeadPartial","Default")

<body id="page-top">

    <!--/ Nav Star /-->
    @Html.Action("NavbarPartial", "Default")
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    @Html.Action("FeaturePartial", "Default")
    <!--/ Intro Skew End /-->

    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Action("ProfilePartial", "Default")
                                @Html.Action("SkillPartial", "Default")
                            </div>
                            <div class="col-md-6">
                                @Html.Action("AboutPartial", "Default")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--/ Section Services Star /-->
    @Html.Action("ServicePartial", "Default")
    <!--/ Section Services End /-->

    @Html.Action("WidgetPartial", "Default")

    <!--/ Section Portfolio Star /-->
    @Html.Action("ProjectPartial", "Default")
    <!--/ Section Portfolio End /-->
    <!--/ Section Testimonials Star /-->

    @Html.Action("TestmonialPartial", "Default")

    <!--/ Section Contact-Footer Star /-->
    @Html.Action("ContactPartial", "Default")
    <!--/ Section Contact-footer End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    @Html.Action("ScriptPartial", "Default")

</body>
</html>
