
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="alert alert-danger">Kategori Sayısı : @ViewBag.categoryCount</div>
<div class="alert alert-danger">Proje Sayısı: @ViewBag.projectCount</div>
<div class="alert alert-danger">Proje Sayısı: @ViewBag.skillCount</div>
<div class="alert alert-danger">Proje Sayısı: @ViewBag.skillAverage</div>
<div class="alert alert-danger">Son eklenen Yetenek: @ViewBag.lastSkillTitleName</div>
<div class="alert alert-danger">Proje Sayısı: @ViewBag.coreCategoryProjectCount</div>
