@model List<PortfolioApp.Models.Entity.TblProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name Surname</th>
        <th>Title</th>
        <th>Email</th>
        <th>Phone</th>

        <th>Update</th>
        @*<th>Delete</th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileId</td>
            <td>@item.NameSurname</td>
            <td>@item.Profile</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>

            <td> <a href="/Profile/UpdateProfile/@item.ProfileId" class="btn btn-outline-success">Update</a></td>
            @*<td> <a href="/Category/DeleteAbout/@item.AboutID" class="btn btn-outline-danger">Delete</a></td>*@

        </tr>

    }

</table>
