@model PortfolioApp.Models.Entity.TblProfile
@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="text-center">
    <h2>UpdateProfile</h2>
</div>

<head>

</head>
<body>

    <form method="post">
        <label>Profile ID</label>
        <input type="text" class="table table-bordered" readonly value="@Model.ProfileId" name="ProfileId" />
        <label>Name Surname</label>
        <input type="text" class="table table-bordered" value="@Model.NameSurname" name="NameSurname" />
        <label>Title</label>
        <input type="text" class="table table-bordered" value="@Model.Profile" name="Profile" />
        <label>Email</label>
        <input type="text" class="table table-bordered" value="@Model.Email" name="Email" />

        <label>Phone</label>
        <input type="text" class="table table-bordered" value="@Model.Phone" name="Phone" />
        <br />

        <button class="btn btn-info" type="submit">Save Changes</button>
        <a href="/Profile/Index/" class="btn btn-outline-warning">Geri</a>

    </form>

</body>