@model List<PortfolioApp.Models.Entity.TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Name Surname</th>
        <th>Email</th>
        <th>Message</th>
        <th>Send Date</th>
        <th>Delete</th>

    </tr>

    @foreach(var item in Model)
     {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Description</td>

            <td>@item.Date</td>
            <td><a href="/Contact/DeleteMessage/@item.ContactId" class="btn btn-danger">Delete Message</a></td>
        </tr>

     }

</table>